.text p{
    color: #c7c7df;
}

.text strong{
    color: white;
    margin-bottom: .75rem;
}

.text i, .text em{
    color: #E0DFFB;
}

.text ul, .text ol {
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}